@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Barriecito&family=Playwrite+GB+S+Guides:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --font-main: 'Poppins', sans-serif;
    --color-1: #2D3E40;
    --color-2: #387373;
    --color-3: #93BFB7;
    --color-4: #97A6A0;
    --color-5: #E4F2E7;
    --color-6: #ffffff;
    --color-7: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    background: url('../img/fundo.jpg') no-repeat center center/cover fixed;
    
}


body::-webkit-scrollbar {
    width: 10px;
    background: var(--color-4);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: var(--color-1);
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}

.contentNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}




.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 20px;
   
}       

.header .Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    gap: 10px;
}
.Logo:hover{
    
    transition: 0.5s;
    scale: 1.05;
}

.Logo p{
    color: var(--color-1);
    font-weight: bold;
}

.header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.menu {
    display: flex;
    gap: 20px;
}

.menu .list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li a{
    text-decoration: none;
    color: var(--color-5);
    font-size: 18px;
    padding: 5px;
}

.menu ul li a:hover{
    transition: 0.5s;
    scale: 1.1;
    background-color: var(--color-5);
    border-radius: 10px;
    color: var(--color-1);
    
}

 .lenguage button{
   
    background: none;
    border: none;
    margin: 0 10px;

}

.lenguage button:hover{
    transition: 0.5s;
    scale: 1.1;
    background-color: none;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    margin: 100px auto;
    background-color: var(--color-6);
    padding: 10px;

}

.form-container h4{
    
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
    color: var(--color-1);
}

.form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-1);
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
  }


  .hamburguer {
    display: none;
    
}


  
  
  form input[type="text"],
  form input[type="datetime-local"] {
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    width: 100%;
    border-bottom: 2px solid var(--color-5);
  }

    form input:hover{
        border-bottom: 2px solid var(--color-1);
        scale: 1.005;
        transition: 0.8s;
    }
  
  form input[type="text"]:focus,
  form input[type="datetime-local"]:focus {
    border-bottom: 2px solid var(--color-1);
  }

    form input::placeholder{
        color: var(--color-7);
    }


    

  
 
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
    .btn button {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
 .btn button{

    background-color: var(--color-1);
    color: var(--color-6);
  }
  
  .btn button:hover {
    background-color: var(--color-2);
    color: var(--color-6);
 }
  


 



